{
  // 1) Here we have our usual config which applies to the whole project, so we don't put testing-library preset here.
  "extends": ["plugin:testing-library/react"],

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },

  // 2) We load eslint-plugin-testing-library globally with other ESLint plugins.
  "plugins": ["react-hooks", "testing-library"],

  "overrides": [
    {
      // 3) Now we enable eslint-plugin-testing-library rules or preset only for matching files!
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": ["plugin:testing-library/react"]
    }
  ]
}
